html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 15px;
  background: linear-gradient(
    45deg,
    rgb(240, 222, 185) 0%,
    rgb(207, 123, 161) 50%,
    rgb(58, 120, 143) 100%
  );
}
body {
    width: 80vw;
    min-width: 800px;
    margin: 0 auto;
    height: 100vh;
}

h1, h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    color: #2a2a2a;
}

p, li {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    color: #2a2a2a;
}

header {
    margin-bottom: 10px;
    text-align: center;
}

main, header, nav, article, aside, footer, section {
    background-color: rgba(255, 255, 255, .5);
    padding: 1%;
}

h1 {
    text-transform: uppercase;
}

nav {
    height: 50px;
}
nav ul {
    display: flex;
}

nav li {
    list-style-type: none;
    text-align: center;
    flex: 1;
}

nav a, nav span {
    font-size: 2rem;
    height: 3rem;
    text-transform: uppercase;
    text-decoration: none;
    color: black
}

main {
    display: flex;
}

section, article {
    flex: 4;
}

aside {
    flex: 1;
    margin-left: 10px;
    padding: 1%;
}

aside a {
    float: left;
    width: 50%;
}

aside img {
    max-width: 100%;
}

footer {
    margin-top: 10px;
}